In [2]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('u.data', sep='\t', names=r_cols, usecols=range(3))

m_cols = ['movie_id', 'title']
movies = pd.read_csv('u.item', sep='|', names=m_cols, usecols=range(2), encoding='ISO-8859-1')

ratings = pd.merge(movies, ratings)
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [3]:
userRatings = ratings.pivot_table(index=['user_id'], columns=['title'], values=['rating'])
userRatings.head()

                           rating                                     \
title   'Til There Was You (1997) 1-900 (1994) 101 Dalmatians (1996)
user_id
0                             NaN          NaN                   NaN
1                             NaN          NaN                   2.0
2                             NaN          NaN                   NaN
3                             NaN          NaN                   NaN
4                             NaN          NaN                   NaN

                                                                    \
title   12 Angry Men (1957) 187 (1997) 2 Days in the Valley (1996)
user_id
0                       NaN        NaN                         NaN
1                       5.0        NaN                         NaN
2                       NaN        NaN                         NaN
3                       NaN        2.0                         NaN
4                       NaN        NaN                         NaN

                                                                          \
title   20,000 Leagues Under the Sea (1954) 2001: A Space Odyssey (1968)
user_id
0                                       NaN                          NaN
1                                       3.0                          4.0
2                                       NaN                          NaN
3                                       NaN                          NaN
4                                       NaN                          NaN

                                                                          ...  \
title   3 Ninjas: High Noon At Mega Mountain (1998) 39 Steps, The (1935)  ...
user_id                                                                   ...
0                                               NaN                  NaN  ...
1                                               NaN                  NaN  ...
2                                               1.0                  NaN  ...
3                                               NaN                  NaN  ...
4                                               NaN                  NaN  ...

                                                                         \
title   Yankee Zulu (1994) Year of the Horse (1997) You So Crazy (1994)
user_id
0                      NaN                      NaN                 NaN
1                      NaN                      NaN                 NaN
2                      NaN                      NaN                 NaN
3                      NaN                      NaN                 NaN
4                      NaN                      NaN                 NaN

                                                                          \
title   Young Frankenstein (1974) Young Guns (1988) Young Guns II (1990)
user_id
0                             NaN               NaN                  NaN
1                             5.0               3.0                  NaN
2                             NaN               NaN                  NaN
3                             NaN               NaN                  NaN
4                             NaN               NaN                  NaN

                                                                               \
title   Young Poisoner's Handbook, The (1995) Zeus and Roxanne (1997) unknown
user_id
0                                         NaN                     NaN     NaN
1                                         NaN                     NaN     4.0
2                                         NaN                     NaN     NaN
3                                         NaN                     NaN     NaN
4                                         NaN                     NaN     NaN


title   Á köldum klaka (Cold Fever) (1994)
user_id
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN

[5 rows x 1664 columns]

In [4]:
corrMatrix = userRatings.corr() # expõe a relação entre a avaliação de dois filmes
corrMatrix.head()

                                                    rating               \
title                            'Til There Was You (1997) 1-900 (1994)
       title
rating 'Til There Was You (1997)                       1.0          NaN
       1-900 (1994)                                    NaN          1.0
       101 Dalmatians (1996)                          -1.0          NaN
       12 Angry Men (1957)                            -0.5          NaN
       187 (1997)                                     -0.5          NaN

                                                                            \
title                            101 Dalmatians (1996) 12 Angry Men (1957)
       title
rating 'Til There Was You (1997)             -1.000000           -0.500000
       1-900 (1994)                                NaN                 NaN
       101 Dalmatians (1996)                  1.000000           -0.049890
       12 Angry Men (1957)                   -0.049890            1.000000
       187 (1997)                             0.269191            0.666667

                                                                         \
title                            187 (1997) 2 Days in the Valley (1996)
       title
rating 'Til There Was You (1997)  -0.500000                    0.522233
       1-900 (1994)                     NaN                         NaN
       101 Dalmatians (1996)       0.269191                    0.048973
       12 Angry Men (1957)         0.666667                    0.256625
       187 (1997)                  1.000000                    0.596644

                                                                      \
title                            20,000 Leagues Under the Sea (1954)
       title
rating 'Til There Was You (1997)                                 NaN
       1-900 (1994)                                              NaN
       101 Dalmatians (1996)                                0.266928
       12 Angry Men (1957)                                  0.274772
       187 (1997)                                                NaN

                                                               \
title                            2001: A Space Odyssey (1968)
       title
rating 'Til There Was You (1997)                    -0.426401
       1-900 (1994)                                 -0.981981
       101 Dalmatians (1996)                        -0.043407
       12 Angry Men (1957)                           0.178848
       187 (1997)                                   -0.554700

                                                                              \
title                            3 Ninjas: High Noon At Mega Mountain (1998)
       title
rating 'Til There Was You (1997)                                         NaN
       1-900 (1994)                                                      NaN
       101 Dalmatians (1996)                                             NaN
       12 Angry Men (1957)                                               NaN
       187 (1997)                                                        NaN

                                                       ...                     \
title                            39 Steps, The (1935)  ... Yankee Zulu (1994)
       title                                           ...
rating 'Til There Was You (1997)                  NaN  ...                NaN
       1-900 (1994)                               NaN  ...                NaN
       101 Dalmatians (1996)                 0.111111  ...                NaN
       12 Angry Men (1957)                   0.457176  ...                NaN
       187 (1997)                            1.000000  ...                NaN

                                                                               \
title                            Year of the Horse (1997) You So Crazy (1994)
       title
rating 'Til There Was You (1997)                      NaN                 NaN
       1-900 (1994)                                   NaN                 NaN
       101 Dalmatians (1996)                    -1.000000                 NaN
       12 Angry Men (1957)                            NaN                 NaN
       187 (1997)                                0.866025                 NaN

                                                                              \
title                            Young Frankenstein (1974) Young Guns (1988)
       title
rating 'Til There Was You (1997)                       NaN               NaN
       1-900 (1994)                              -0.944911               NaN
       101 Dalmatians (1996)                      0.158840          0.119234
       12 Angry Men (1957)                        0.096546          0.068944
       187 (1997)                                 0.455233         -0.500000

                                                       \
title                            Young Guns II (1990)
       title
rating 'Til There Was You (1997)                  NaN
       1-900 (1994)                               NaN
       101 Dalmatians (1996)                 0.680414
       12 Angry Men (1957)                  -0.361961
       187 (1997)                            0.500000

                                                                        \
title                            Young Poisoner's Handbook, The (1995)
       title
rating 'Til There Was You (1997)                                   NaN
       1-900 (1994)                                                NaN
       101 Dalmatians (1996)                             -4.875600e-17
       12 Angry Men (1957)                                1.443376e-01
       187 (1997)                                         4.753271e-01

                                                                  \
title                            Zeus and Roxanne (1997) unknown
       title
rating 'Til There Was You (1997)                     NaN     NaN
       1-900 (1994)                                  NaN     NaN
       101 Dalmatians (1996)                    0.707107     NaN
       12 Angry Men (1957)                      1.000000     1.0
       187 (1997)                                    NaN     NaN


title                            Á köldum klaka (Cold Fever) (1994)
       title
rating 'Til There Was You (1997)                                NaN
       1-900 (1994)                                             NaN
       101 Dalmatians (1996)                                    NaN
       12 Angry Men (1957)                                      NaN
       187 (1997)                                               NaN

[5 rows x 1664 columns]

In [5]:
corrMatrix = userRatings.corr(method='pearson', min_periods=100)
corrMatrix.head()

                                                    rating               \
title                            'Til There Was You (1997) 1-900 (1994)
       title
rating 'Til There Was You (1997)                       NaN          NaN
       1-900 (1994)                                    NaN          NaN
       101 Dalmatians (1996)                           NaN          NaN
       12 Angry Men (1957)                             NaN          NaN
       187 (1997)                                      NaN          NaN

                                                                            \
title                            101 Dalmatians (1996) 12 Angry Men (1957)
       title
rating 'Til There Was You (1997)                   NaN                 NaN
       1-900 (1994)                                NaN                 NaN
       101 Dalmatians (1996)                       1.0                 NaN
       12 Angry Men (1957)                         NaN                 1.0
       187 (1997)                                  NaN                 NaN

                                                                         \
title                            187 (1997) 2 Days in the Valley (1996)
       title
rating 'Til There Was You (1997)        NaN                         NaN
       1-900 (1994)                     NaN                         NaN
       101 Dalmatians (1996)            NaN                         NaN
       12 Angry Men (1957)              NaN                         NaN
       187 (1997)                       NaN                         NaN

                                                                      \
title                            20,000 Leagues Under the Sea (1954)
       title
rating 'Til There Was You (1997)                                 NaN
       1-900 (1994)                                              NaN
       101 Dalmatians (1996)                                     NaN
       12 Angry Men (1957)                                       NaN
       187 (1997)                                                NaN

                                                               \
title                            2001: A Space Odyssey (1968)
       title
rating 'Til There Was You (1997)                          NaN
       1-900 (1994)                                       NaN
       101 Dalmatians (1996)                              NaN
       12 Angry Men (1957)                                NaN
       187 (1997)                                         NaN

                                                                              \
title                            3 Ninjas: High Noon At Mega Mountain (1998)
       title
rating 'Til There Was You (1997)                                         NaN
       1-900 (1994)                                                      NaN
       101 Dalmatians (1996)                                             NaN
       12 Angry Men (1957)                                               NaN
       187 (1997)                                                        NaN

                                                       ...                     \
title                            39 Steps, The (1935)  ... Yankee Zulu (1994)
       title                                           ...
rating 'Til There Was You (1997)                  NaN  ...                NaN
       1-900 (1994)                               NaN  ...                NaN
       101 Dalmatians (1996)                      NaN  ...                NaN
       12 Angry Men (1957)                        NaN  ...                NaN
       187 (1997)                                 NaN  ...                NaN

                                                                               \
title                            Year of the Horse (1997) You So Crazy (1994)
       title
rating 'Til There Was You (1997)                      NaN                 NaN
       1-900 (1994)                                   NaN                 NaN
       101 Dalmatians (1996)                          NaN                 NaN
       12 Angry Men (1957)                            NaN                 NaN
       187 (1997)                                     NaN                 NaN

                                                                              \
title                            Young Frankenstein (1974) Young Guns (1988)
       title
rating 'Til There Was You (1997)                       NaN               NaN
       1-900 (1994)                                    NaN               NaN
       101 Dalmatians (1996)                           NaN               NaN
       12 Angry Men (1957)                             NaN               NaN
       187 (1997)                                      NaN               NaN

                                                       \
title                            Young Guns II (1990)
       title
rating 'Til There Was You (1997)                  NaN
       1-900 (1994)                               NaN
       101 Dalmatians (1996)                      NaN
       12 Angry Men (1957)                        NaN
       187 (1997)                                 NaN

                                                                        \
title                            Young Poisoner's Handbook, The (1995)
       title
rating 'Til There Was You (1997)                                   NaN
       1-900 (1994)                                                NaN
       101 Dalmatians (1996)                                       NaN
       12 Angry Men (1957)                                         NaN
       187 (1997)                                                  NaN

                                                                  \
title                            Zeus and Roxanne (1997) unknown
       title
rating 'Til There Was You (1997)                     NaN     NaN
       1-900 (1994)                                  NaN     NaN
       101 Dalmatians (1996)                         NaN     NaN
       12 Angry Men (1957)                           NaN     NaN
       187 (1997)                                    NaN     NaN


title                            Á köldum klaka (Cold Fever) (1994)
       title
rating 'Til There Was You (1997)                                NaN
       1-900 (1994)                                             NaN
       101 Dalmatians (1996)                                    NaN
       12 Angry Men (1957)                                      NaN
       187 (1997)                                               NaN

[5 rows x 1664 columns]

In [6]:
myRatings = userRatings.loc[0].dropna()
myRatings

        title
rating  Empire Strikes Back, The (1980)    5.0
        Gone with the Wind (1939)          1.0
        Star Wars (1977)                   5.0
Name: 0, dtype: float64

In [7]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print('Adding sims for ' + str(myRatings.index[i]) + '...')
    sims = corrMatrix[myRatings.index[i]].dropna()
    sims = sims.map(lambda x: x * myRatings[1])
    simCandidates = simCandidates._append(sims)

print('Sorting...')
simCandidates.sort_values(inplace=True, ascending=False)
print(simCandidates.head(10)) #cria uma série com todas os filmes analisando sua similaridade, e expõe os 10 mais semelhantes

Adding sims for ('rating', 'Empire Strikes Back, The (1980)')...
Adding sims for ('rating', 'Gone with the Wind (1939)')...
Adding sims for ('rating', 'Star Wars (1977)')...
Sorting...
(rating, Empire Strikes Back, The (1980))    1.000000
(rating, Star Wars (1977))                   1.000000
(rating, Gone with the Wind (1939))          1.000000
(rating, Star Wars (1977))                   0.748353
(rating, Empire Strikes Back, The (1980))    0.748353
(rating, Return of the Jedi (1983))          0.721229
(rating, Return of the Jedi (1983))          0.672556
(rating, Raiders of the Lost Ark (1981))     0.538659
(rating, Raiders of the Lost Ark (1981))     0.536117
(rating, Wizard of Oz, The (1939))           0.430219
dtype: float64

<ipython-input-7-89e8fe7f5e59>:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sims = sims.map(lambda x: x * myRatings[1])
<ipython-input-7-89e8fe7f5e59>:6: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  simCandidates = simCandidates._append(sims)
<ipython-input-7-89e8fe7f5e59>:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sims = sims.map(lambda x: x * myRatings[1])
<ipython-input-7-89e8fe7f5e59>:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sims = sims.map(lambda x: x * myRatings[1])

In [8]:
simCandidates = simCandidates.groupby(simCandidates.index).sum() #agrupa todas as iterações do filme na matriz e a soma
simCandidates.sort_values(inplace=True, ascending=False)
simCandidates.head(10)

(rating, Empire Strikes Back, The (1980))              1.884040
(rating, Star Wars (1977))                             1.877560
(rating, Return of the Jedi (1983))                    1.603032
(rating, Gone with the Wind (1939))                    1.264895
(rating, Raiders of the Lost Ark (1981))               1.220594
(rating, Wizard of Oz, The (1939))                     0.984229
(rating, E.T. the Extra-Terrestrial (1982))            0.883620
(rating, Back to the Future (1985))                    0.877443
(rating, Indiana Jones and the Last Crusade (1989))    0.834655
(rating, Casablanca (1942))                            0.809604
dtype: float64

In [10]:
filteredSims = simCandidates.drop(myRatings.index)
filteredSims
#

(rating, Return of the Jedi (1983))            1.603032
(rating, Raiders of the Lost Ark (1981))       1.220594
(rating, Wizard of Oz, The (1939))             0.984229
(rating, E.T. the Extra-Terrestrial (1982))    0.883620
(rating, Back to the Future (1985))            0.877443
                                                 ...
(rating, Annie Hall (1977))                   -0.102355
(rating, Real Genius (1985))                  -0.110574
(rating, Remains of the Day, The (1993))      -0.112067
(rating, This Is Spinal Tap (1984))           -0.127295
(rating, First Wives Club, The (1996))        -0.194496
Length: 265, dtype: float64